.container {
  padding: 2rem;
}
.movie-title {
  margin: 0;
}
.list-movie {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  padding: 0;
}
.list-movie__item {
  background-color: black;
  border-radius: 5%;
}
